
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
:root {
  --colortheme: #2bc48a;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  word-wrap: normal;
}


.home-image-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  object-fit: cover;
  position: relative;
  top: 0 !important;
  z-index: -1;
}
.home-content-div {
  display: flex;
  justify-content: center;
}
.home-content {
  color: white;
  position: absolute;
  width: 80%;
  max-width: 1440px;
  /* padding-inline-start:200px; */
  /* margin-top: 40vh; */
  top: 45vh;
}
.home-social{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  right: 110px;
  top: -65px;

}

.home-social span{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-inline: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 197, 197);
}
.home-social span:hover{
  background-color: black;
  color: white;
}
.first-content {
  font-weight: 200;
  font-size: 42px;
  margin-bottom: 10px;
}
.second-content {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}
.third-content {
  font-size: 22px;
  margin-bottom: 30px;
}
.home-arrow-svg {
  margin-inline-start: 4px;
  font-size: 56px !important;
}
.home-btn {
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #2bc48a;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

/* about section */

.about-section-div {
  /* border: 2px solid red; */
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  /* width: 100%; */
}
.about-section {
  max-width: 1440px;
  width: 80%;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  padding-right: 25%;
  margin-top: 50px;
  margin-bottom: 60px;
  /* border: 2px solid red; */
}
.about-us {
  font-weight: 500;
  font-size: 23px;
}
.who-we-are {
  font-size: 32px;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 6px;
}
.who-we-are span {
  color: var(--colortheme);
  font-weight: 700;
}
.about-text {
  font-size: 15px;
}
.ceo-words {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
}

/* service section */

.service-section-div {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-service-section {
  max-width: 1440px;
  width: 80%;
  display: flex;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.service-intro {
  width: 50%;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-service-first-tsxt {
  font-size: 25px;
}
.service-intro p{
  margin: 0;  
}

.service-intro h1 {
  margin-bottom: 20px;
  color: var(--colortheme);
}
.home-service-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-service-img img {
  width: 70%;
  /* width:600px; */
  min-width: 400px;
}
.home-service-item p{
  margin: 0;
}
.home-service-item {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  margin-top: 25px;
  font-weight: 500;
}
.services { 
  margin-top: 50px;
  margin: 0;
}
.home-service-item img {
  max-width: 21px;
  width: 100%;
  height: 21px;
  background-size: cover;
  margin-inline-end: 8px;
}
.learn-more-btn-div {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.learn-more-btn-div button {
  width: 160px;
  height: 35px;
  border-radius: 20px;
  border: 0.5px solid #2bc48a;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
}
.learn-more-btn-div button:hover {
  background-color: #2bc48a;
  color: white !important;
}
.service-arrow {
  padding-inline-start: 10px;
  margin: 0;
  /* border: 2px solid red; */
  margin-bottom: 14px;
  margin-top: 50px;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  top: 1.5px;
  color: #181818;
}

.home-service-explore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 40px;
  font-weight: 500;
  border-bottom: 1px solid rgb(118, 113, 113);
}

@media (max-width: 1020px) {
  .home-service-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-service-img {
    width: 100%;
  }
  .service-intro {
    width: 100%;
    padding: 0;
  }
  .home-service-section {
    box-shadow: none;
  }
}


/* portfolio section */


.home-portfolio-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  margin-top: 50px;
}
.home-portfolio-img-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-portfolio-img {
  object-fit: cover;
  max-width: 1080px;
  width: 60%;
  z-index: 2;


}
.home-portfolio-content-div {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 350px;

}
.home-portfolio-content {
  max-width: 1440px;
  width: 80%;
  height: 400px;
  /* height: 60vh; */
  position: relative;
  top: -200px;
  background-color: #181818;
  max-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 20px;

}

.home-portfolio-content p {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 40px;
  margin-bottom: 10px;
  max-width: 1080px;
  width: 75%;
  position: relative !important;
  /* border: 2px solid red; */
}
.home-portfolio-content p,
.home-portfolio-btn {
  color: white;
  position: relative;
  /* top: 80px; */
  
}
.home-portfolio-btn {
  width: 140px;
  height: 40px;
  padding: 5px;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--colortheme);
}
.home-portfolio-btn-div{
  width:75%;
}


/* testimonial css */


.home-testimonial-div {
  width: 100%;
  /* border: 2px solid rgb(57, 45, 45); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-testimonial-heading {
  width: 80%;
  max-width: 1440px;
}
.home-testimonial-heading p{
  margin: 0;
  margin-bottom: 10px;
  font-size: 17px;
}
.home-testimonial {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1440px;
}
.testimonials {
  position: relative;
  width: 480px;
  margin: 50px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
}
.testimonial-talk {
  word-wrap: break-word;
  font-size: 14px;
  padding-inline-start:35px;
}
.testimonial-ratings {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding-inline-start: 36px;
}
.testimonial-name {
  font-weight: 600;
  margin: 0;
}
.bi-star-fill {
  color: orange;
}
.home-testimonial-heading h2 {
  margin-top: 7px;
  font-weight: 400;
}
.happy-clients {
  color: #2bc48a;
  font-weight: 700;
}
.testimonials-img{
  width: 60px;
  position: absolute;
  left:-30px;
  bottom: 50;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.rating-start{
  padding-inline-end: 15px;
}
hr{
  width: 80%;
  margin-top: 10px;
  border: 1px solid #2bc48a !important;
}


@media (max-width: 1024px){
  
}


/* blog section */

.home-blog-main-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-blog-heading{
  width: 80%;
  max-width: 1440px;

}
.blog-card{
  width: 80%;
  max-width: 1440px;
}
.home-blog-btn{
  background-color: transparent;
  font-weight: 500;
  border-radius: 20px;
  outline: none;
  border: 1px solid #2bc48a;
  width: 130px;
  height: 35px;
  font-size: 14px;
}
.card-img-top{
  max-height: 200px;
  object-fit: cover;
}
.home-blog-btn:hover {
  background-color: #2bc48a;
  color: white !important;
}
.card-text{
  font-weight: 500;
  font-size: 15px;
}
.home-blog-heading p{
  margin: 0;
  margin-bottom: 10px;
  font-size: 17px;
}
.home-blog-heading h2{
  color: #2bc48a;
  font-weight: 600;
  margin-bottom: 40px;
}


/* FAQ's section */

.faq-main-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.faq-div{
  width: 80%;
  max-width: 1440px;
  padding: 20px;
  /* border: 2px solid red; */
}
.faq-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.faq-heading h2{
  font-weight: 700;
}
.questions-ans-div{
  margin-bottom: 20px;
}
.questions{
  font-size: 16px;
  font-weight: 600;
}
.answers{
  font-size: 14px;
}